body, html {
  height: 100%;
}
body  {
  background-image: url("tiffinImages/Background.jpeg");
  background-color: #cccccc;
}
.navbar-text
{
  float: right;
}
.nav-link
{
  float: right;
  color: white;
}
.top-bar
{
  background-color: #ED8418;
  color: white;
  margin: 0px!important;
}
.jumbotron
{
  background-image: url("tiffinImages/Background.jpeg");
}
.navbar
{
  background-color: #ED8418;
  width: 40%;
  margin: 0% 0% 0% 30%;
}
.tiffin_info_banner
{
  background-color: #ED8418;
  margin: 5% 0% 0% 0%;
  color: white;
  padding: 5%;
}
p
{
  font-size: 18px;
}
.deals_jumbotron_banner
{
  background-image: url('tiffinImages/tif2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 100%;
  padding-top: 20%!important;
}
.my_row
{
  margin-top: 5%;
  margin-bottom: 5%;
}
.right_col
{
  margin-left: -3%;
  margin-top: 1%;
  margin-bottom: 1%;
}
.padding_center
{
  padding-top: 4%;
}
.left_col
{
  margin: 1% -3% 1% 10%;
  z-index: 1;
  padding-top: 3%;
}
.homepage_button:hover {
  background-color: #ED8418!important;
  color: white;
  border-color: #ED8418!important;
}



/********************************************************MENU PAGE************************************/
h2
{
  color:#ED8418;
}
.change_color > p
{
    color: #ED8418;
}
.my_bgcolor
{
  background-color: #ED8418!important;
}
.my_fontcolor
{
  color: white;
}

/******************************About Page****************************************/
.deals_jumbotron_banner2
{
  background-image: url('tiffinImages/8561362.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 100%;
  padding-top: 20%!important;
}
/***********************Order Page*************************************************/
.no_padding
{
  padding:0px!important;
}
.light_padding
{
  padding: 1%;
  text-align: center;
}
.light_padding > p
{
  color:#ED8418;
}
.shift_left
{
  margin: 1% 0% 1% -2%;
}
.shift_right
{
  margin: 1% -2% 1% 0%;
  z-index: 1;
}
.qty
{
  float: right;
}




/* The cont */
.cont {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.cont input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.cont:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.cont input:checked ~ .checkmark {
  background-color: #ED8418;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.cont:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.cont input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.cont .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}









/* Media Queries */

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {


}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {

}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 767.98px) {

}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {

}
